<html>
  <head>
    <title>iMovies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
	<link href="{{ url_for('static', filename='index.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  </head>
  <body>
    <form method="POST" id="edit_info"></form>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
          <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Hi, {{user_info['uid']}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class=" col-md-12 col-lg-12 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>User ID:</td>
                        <td>{{user_info['uid']}}</td>
                      </tr>
                      <tr>
                        <td>First Name:</td>
                        <td><input type="text" name="firstname" value={{user_info['firstname']}} form=edit_info></td>
                      </tr>
                      <tr>
                        <td>Last Name:</td>
                        <td><input type="text" name="lastname" value={{user_info['lastname']}} form=edit_info></td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{user_info['email']}}">{{user_info['email']}}</a></td>
                      </tr>
                      {% if False %}
                      <tr>
                        <td>Current password:</td>
                        <td><input type="password" name="passwd" form=edit_info></td>
                      </tr>
                      <tr>
                        <td>New password:</td>
                        <td><input type="password" name="new_passwd" form=edit_info></td>
                      </tr>
                      <tr>
                        <td>Repeat new password:</td>
                        <td><input type="password" name="confirm_new_passwd" form=edit_info></td>
                      </tr>
                      {% endif %}
                    </tbody>
                  </table>

                  <form method="post">
                    <button name="create" type="submit" value="1" class="btn btn-primary">Create</button>
                    <button name="download" type="submit" value="1" class="btn btn-primary">Download</button>
                    <button name="revoke" type="submit" value="1" class="btn btn-primary">Revoke</button>
                  </form>
                </div>
              </div>
            </div>
            <div class="panel-footer text-right">
              {% if status %}
              <span class="status pull-left"><strong>Status: </strong>{{ status }}</span>
              {% endif %}
              <button name="edit_info" type="submit" value="1" class="btn btn-sm btn-success" form="edit_info">Edit info</button>
              <input type="button" onclick="window.location='https://client.imovies.ch/edit_passwd'" class="btn btn-sm btn-warning" value="Change password">
              <form method="post" style="display:inline">
                <button name="logout" type="submit" value="1" class="btn btn-sm btn-danger">Logout</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
